<div class="container-fluid" id="benefits" style="margin-top: 10px;">
  <div class="container-fluid" style="
  /* background-color: #5a2502;  */
  /* border-color: #381701; */
  display:flex; 
  /* margin-top: 20px; */
  align-items: center; 
  justify-content: center;
  padding-top:15px ;
  padding-bottom:15px">
    <div>
      <div>
        <div class="gap-80"></div>
        <p style="font-family: serif; font-size: 42px; margin-bottom: 0px;font-weight: 700; color: rgb(80, 20, 20);">
          Benefits over PGs and Flats</p>
        <hr>
        <p style="font-family: serif; font-size: 1.2rem;" class="room-para"> &emsp;We care for you and hence, we have
          brought to you the best quality service at an affordable price. Show your trust in us and we'll make sure you
          will never get a prospect to complain.</p>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item" style="margin-top: 15px; background-color: #682a01; color: white; border:0px;">
      <h2 class="accordion-header" id="headingOne" style="background-color: #682a01; color: white;">
        <button class="accordion-button" style="background-color: #682a01; color: white;" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          100% Hygiene Assured
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse"
        style="border:0px; background-color:white; color: #381701;" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          &emsp; Given the current circumstances, it is upon us to carry out every measure possible to ensure the safety and health of our residents.
          With thermal monitoring at entry/exit and checking of medical & travel history, we make sure that every hostelite is safe from outside visitors and new residents. To prevent contractions, we ensure regular residence sanitisation, daily disinfecting of high touch areas and sanitisers placed
          at multiple areas within the campus premises. With no-touch dining facilities and social distancing at common areas, we corroborate your safety.
        </div>
      </div>
    </div>
    <div class="accordion-item" style="margin-top: 15px; background-color: #682a01; color: white; border:0px;">
      <h2 class="accordion-header" id="headingTwo" style="background-color: #682a01; color: white;">
        <button class="accordion-button" style="background-color: #682a01; color: white;" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Available Resources 24x7
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse"
        style="border:0px; background-color:white; color: #381701;" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          &emsp; Our hostels are well connected in terms of transportation. We have a hygienic and clean meal mess to provide the hostelites with meals 4 times a day. Apart from it we have a 24×7 snacks counter. From healthy meals to late night cravings we have you covered. We have unlimited high-speed Wi-Fi connections installed in our hostel for all your necessities. Click on the "meals" button below to find our weekly meal plan which gets updated every 6 months.
        </div>
      </div>
    </div>
    <div class="accordion-item" style="margin-top: 15px; background-color: #682a01; color: white; border:0px;">
      <h2 class="accordion-header" id="headingThree" style="background-color: #682a01; color: white;">
        <button class="accordion-button" style="background-color: #682a01; color: white;" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Safe & Secure Transaction
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse"
        style="border:0px; background-color:white; color: #381701;" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
          adds the appropriate classes that we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
          CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
          , though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>

  <div class="meal-hostel">
    <a href="/hostels">
      <div class="hostel">Hostels</div>
    </a>
    <a href="/meals">
      <div class="meal">Meals</div>
    </a>
  </div>

</div>