<div class="container-fluid" id="contactus" style="
  /* background-color: rgb(13, 45, 51);  */
  display:flex; 
  /* margin-top: 50px; */
  align-items: center; 
  justify-content: center;
  padding-top:15px ;
  padding-bottom:15px">
    <div>
        <div class="gap-80"></div>
      <p style="font-family: serif; font-size: 42px; margin-bottom: 0px;font-weight: 700; color: rgb(80, 20, 20);">Contact Us</p>
      <hr>
      <p style="font-family: serif; font-size: 1.2rem; word-spacing: 3px;" class="room-para"> &emsp; Feel like Contacting Us? Submit your queries here and we will look into it.
        Our passionate team is waiting to make your living experience a relishing one! We would be there for you 24x7. </p>
    </div>
  </div>
  <div class="container-fluid" style="font-family: serif;">
    <form style="margin:18px" id="form">
      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlInput1" style="font-weight: 800;">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name here" required style="margin-bottom: 10px;">
      </div>

      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlInput1" style="font-weight: 800;">Contact Number</label>
        <input type="number" class="form-control" id="number" placeholder="Enter your contact number" style="margin-bottom: 10px;" required>
      </div>

      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlInput1" style="font-weight: 800;">Email address</label>
        <input type="email" class="form-control" id="email"
          placeholder="Enter your email address" style="margin-bottom: 10px;" required>
      </div>

      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlTextarea1" style="font-weight: 800;">Please write your query here</label>
        <textarea class="form-control" id="query" rows="5" style="resize: none;" placeholder="Write your query here" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 16px; background-color:  #682a01; font-weight: 700;">Submit</button>
    </form>
  </div>
