<div class="container-fluid" id="contactus" style="
  /* background-color: rgb(13, 45, 51);  */
  display:flex; 
  /* margin-top: 50px; */
  align-items: center; 
  justify-content: center;
  padding-top:15px ;
  padding-bottom:15px">
    <div>
        <div class="gap-80"></div>
      <p style="font-family: serif; font-size: 42px; margin-bottom: 0px;">Contact Us</p>
      <p style="font-family: serif;" class="room-para"> &emsp; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere excepturi error
        rerum fugit numquam? Nam ad quod sunt nemo omnis dolores, impedit repellendus nostrum eveniet, illum sequi nobis
        enim facilis. Deserunt rerum voluptatem vero, fugiat eligendi odio aliquam
        eveniet tenetur vitae reprehenderit expedita?</p>
    </div>
  </div>
  <div class="container-fluid" style="font-family: serif;">
    <form style="margin:18px">
      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlInput1">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name here">
      </div>

      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlInput1">Contact Number</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your contact number">
      </div>

      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"
          placeholder="Enter your email address(if any)">
      </div>

      <div class="form-group" style="margin-top: 4px;">
        <label for="exampleFormControlTextarea1">Please write your query here.</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 16px;">Submit</button>
    </form>
  </div>