<div id="feedback">
    <div class="container-fluid" style="
    /* background-color: rgb(26, 17, 61);  */
    display:flex; 
    margin-top: 8px;
    align-items: center; 
    justify-content: center;
    padding-top:15px ;
    padding-bottom:15px">
      <div>
        <div class="gap-80"></div>
        <p style="font-family: serif; font-size: 42px; margin-bottom: 0px;">Feedback</p>
        <p style="font-family: serif;" class="room-para"> &emsp; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere excepturi error
          rerum fugit numquam? Nam ad quod sunt nemo omnis dolores, impedit repellendus nostrum eveniet, illum sequi nobis
          enim facilis.cupi. Deserunt rerum voluptatem vero, fugiat eligendi odio aliquam
          eveniet tenetur vitae reprehenderit expedita?</p>
      </div>
    </div>
  
    <div class="container-fluid" style="border-color: rgb(26, 17, 61); border-left:thick ; font-family: serif;">
      <div style="display: flex; align-items: center; justify-content: center; margin:10px 5px 5px 5px">
        <div class="card mb-3 border-left" style="max-width: 540px; margin:5px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./static/male.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="font-family: serif;">Arindam Halder</h5>
                <p class="card-text" style="font-style: italic; font-size: large;">I have seen Naruto in Dub!!! <br>
                  Dattebayo!</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 border-left" style="max-width: 540px; margin:5px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./static/male.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="font-family: serif;">Dibyabrata Panja</h5>
                <p class="card-text" style="font-style: italic; font-size: large;">Ye dard khatam kahe nahi hota be!!</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; align-items: center; justify-content: center; margin:5px">
        <div class="card mb-3  border-left" style="max-width: 540px; margin:5px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./static/female.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="font-family: serif;">Isika Samanta</h5>
                <p class="card-text" style="font-style: italic; font-size: large;">Someone just make some disturbances!!
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3  border-left" style="max-width: 540px; margin:5px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./static/male.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="font-family: serif;">Souvik Naskar</h5>
                <p class="card-text" style="font-style: italic; font-size: large;">Class e sobai single sudhu ami mingle.
                  :))</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  