<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<div id="feedback">
  <div class="container-fluid" style="
    /* background-color: rgb(26, 17, 61);  */
    display:flex; 
    margin-top: 8px;
    align-items: center; 
    justify-content: center;
    padding-top:15px ;
    padding-bottom:15px">
    <div>
      <div class="gap-80"></div>
      <p style="font-family: serif; font-size: 42px; margin-bottom: 0px;font-weight: 700; color: rgb(80, 20, 20);">
        Reviews</p>
      <hr>
      <div style="text-align: center;">
      <b >We Don't Just Claim. The Testimonials Speak For Us</b>
    </div>
      <p style="font-family: serif; font-size: 1.2rem; word-spacing: 4px;" class="room-para">
         &emsp; Hear it from the students who have experienced a stay in
        our Pupils' Hub hostels. Here's a glimpse of the quality of our services.</p>
    </div>
  </div>

  <div class="feedback-container">

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="feedback-box">
            <div class="review-image-box">
              <img src="./static/review1.jpeg" />
            </div>
            <div class="content-box">
              <div class="name-star">
                <span class="name">Rajdeep Mallick</span>
                <span class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
              </div>
              <div class="content">
                I wanted to stay at a professionally managed accomodation rather than a regular PG and Pupils' Hub did
                not disappoint me. Security and food are top priorities for me, and the food here, as all our daily
                living needs are taken care of.
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="feedback-box">
            <div class="review-image-box">
              <img src="./static/review2.jpg" />
            </div>
            <div class="content-box">
              <div class="name-star">
                <span class="name">Nidhi Shah</span>
                <span class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
              </div>
              <div class="content">
                I have already recommended Pupils' Hub to my friends because of the quality of services and its value
                for money prepositions. We get more time to focus on our studies here, as all our daily living needs are
                taken care of.
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="feedback-box">
            <div class="review-image-box">
              <img src="./static/review4.jpg" />
            </div>
            <div class="content-box">
              <div class="name-star">
                <span class="name">Arup Kumar Roy</span>
                <span class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
              </div>
              <div class="content">
                My stay at Pupils' Hub has been quite good. One of the best things about living here is the Pupils' Hub
                team, they are responsive and approachable, and resolutions are provided real-quick.
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="feedback-box">
            <div class="review-image-box">
              <img src="./static/review5.jpeg" />
            </div>
            <div class="content-box">
              <div class="name-star">
                <span class="name">Sanghita Gharami</span>
                <span class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
              </div>
              <div class="content">
                My stay experience at Pupils' Hub has been awesome. Pupils' Hub website has always come handy to resolve
                any issue in no time. The team organizes special events and provides healthy meals which has made my
                stay a great one.
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="feedback-box">
            <div class="review-image-box">
              <img src="./static/male.jpg" />
            </div>
            <div class="content-box">
              <div class="name-star">
                <span class="name">Ankush Sil Sarma</span>
                <span class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
              </div>
              <div class="content">
                I faced the challenge of finding a room near my university and felt a bit lost in a new city. But then I was very lucky to find Pupils' Hub. It is like my perfect home. Thanks to Pupils' Hub team
                for their immense support and help.
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>





</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    // Default parameters
    slidesPerView: 1,
    spaceBetween: 10,
    // Responsive breakpoints
    breakpoints: {
      // when window width is >= 565px
      565: {
        slidesPerView: 2,
        spaceBetween: 20
      },
      // when window width is >= 845px
      845: {
        slidesPerView: 3,
        spaceBetween: 30
      },
      // when window width is >= 1186px
      1186: {
        slidesPerView: 4,
        spaceBetween: 40
      }
    },
    pagination: {
      el: ".swiper-pagination",
    },
    autoplay: {
      delay: 10000,
      disableOnInteraction: true,
    }
  })
</script>