<div class="black myFooter" style="background-color: black;">
    <footer class="container py-5 mb-0">
      <div class="row">

        <!-- <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3470.5568151276893!2d88.41302809465047!3d22.565339808217797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275ccb9708cbb%3A0x9630b0fb1e28a9d8!2sKC%20Block%2C%20Sector%20III%2C%20Bidhannagar%2C%20Kolkata%2C%20West%20Bengal%20700098!5e0!3m2!1sen!2sin!4v1643289347458!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div> -->

        <div class="col-6 col-md border-left:2px solid white below-map" style="display: flex; flex-direction: column; align-items: center;">
          <h5 style="font-weight: 600; color: rgb(204, 204, 204);">Reach out to us </h5>
          <ul class="list-unstyled text-small footer-li">
            <br>
            <li><a class="link-secondary" style="text-decoration: none" href="#"> <span style="display: inline-block; width: 60px;" > Email : </span> <a href="mailto:neophytesAdm@gmail.com" style="text-decoration: none ">neophytesAdm@gmail.com</a> </a></li>
            <br>
            <li><a class="link-secondary" style="text-decoration: none" href="#"> <span style="display: inline-block; width: 60px;" > Call : </span><a href="tel:1234567890" style="text-decoration: none;">+91 1234567890</a> </a></li>
            
          </ul>
        </div>

        <div class="col-6 col-md border-left:2px solid white footer-li" style="display: flex; flex-direction: column; align-items: center;">
          <h5 style="font-weight: 600; color: rgb(204, 204, 204);">Others</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" style="text-decoration: none" href="/teams">Our Team</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="/faq">FAQ</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="/privacy">Privacy</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="/terms">Terms</a></li>
          </ul>
        </div>

      </div>





      <div class="row" style="display: flex; justify-content: center; align-items: center;" >
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope fa-2x"></i></a></li>
          </ul>
        </div>
        <div style="text-align: center;">
          <small class="d-block mb-3"><span class="copyright"> &copy; </span> Neophytes | All Rights Reserved.</small>
          <!--it was previously text-muted -->
        </div>
        <div style="text-align: center; color: rgb(124, 121, 121);" class="footer-authority">
          <p><a href="/teams" style="color: #ffee00; text-decoration: none !important;">Pupils' Hub Hostel Authority</a> | Main office, Hostel-1, KC Block, Saltlake Sector-III, Bidhannagar, Kolkata-700098, West Bengal.</p>
        </div>
      </div>

    </footer>
  </div>