<div class="black myFooter" style="background-color: black;">
    <footer class="container py-5 mb-0">
      <div class="row">
        <div class="col-12 col-md">
        </div>
        <div class="col-6 col-md border-left:2px solid white">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" style="text-decoration: none" href="#">Cool Stuffs</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Random features</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Team features</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Stuff for developers</a></li>
          </ul>
        </div>
        <div class="col-6 col-md border-left:2px solid white">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" style="text-decoration: none" href="#">Resource name</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Resource</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Another resource</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md border-left:2px solid white">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" style="text-decoration: none" href="#">Business</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Education</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Government</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md border-left:2px solid white">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" style="text-decoration: none" href="#">Team</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Locations</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Privacy</a></li>
            <li><a class="link-secondary" style="text-decoration: none" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
      <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope fa-2x"></i></a></li>
          </ul>
        </div>
        <div style="text-align: center;">
          <small class="d-block mb-3"><span class="copyright"> &copy; </span> Neophytes | All Rights Reserved.</small>
          <!--it was previously text-muted -->
        </div>
        <div style="text-align: center; color: rgb(124, 121, 121);">
          <p><u><a href="#">Jadavpur University Hostel Authority.</a></u>A Registered building under WB govt.
            [Salt Lake,Kolkata. Pin:713179]</p>
        </div>
      </div>

    </footer>
  </div>