<div id="home">
    <header class="myHomePage">
  
      <img src="./static/intro-bg.jpg">
      
      <div class="gap-80"></div>
  
      <div class="homePage">
        <div class="header-headings">
          <h1 style="font-weight: bolder; font-size: 30px;" class=" w3-text-black">Welcome To</h1>
          <h1 style="font-weight: bolder; font-size: 65px; font-family: 'Oswald', sans-serif;" class=" w3-text-black">
            Pupils' Hub</h1>
          <h4 style="font-weight: bolder; font-family: 'Oswald', sans-serif; font-size: 1.4rem;" class=" w3-text-black">Hope you will enjoy a
            cozy and comfortable life here for the next few years !!
          </h4>
        </div>
  
        <div class="from-dean-desk">
  
          <h2 style="font-weight: 700; font-family: serif;">From Admin's Desk</h2>
          <div>
            <i class="fas fa-quote-left"></i>
          </div>
  
          <div style="font-family: serif; display: flex; ">
            <blockquote style="font-size: 1.4rem; font-weight: 700;">Embarking on your journey towards building your career in a new city can be stressful. Let us help you with a place to stay that feels like home. We have implemented every measure to create a safe haven for you. In these uncertain times, you can count on us to take care of your needs.</blockquote>
          </div>
  
          <div>
            <i class="fas fa-quote-right fa-2x"></i>
          </div>
  
  
        </div>
  
  
  
      </div>
  
    </header>
  </div>