<div id="rooms">
  <div class="container-fluid" style="
    /* background-color: rgb(49, 23, 13);  */
    display:flex; 
    /* margin-top: 110px;  */
    align-items: center; 
    justify-content: center;
    padding-top:15px ;
    padding-bottom:15px" id="rooms1">

    <div>
      <div class="gap-80"></div>
      <p style="font-family: serif; font-size: 42px; margin-bottom: 0px; font-weight: 700; color: rgb(80, 20, 20);">Our Hostels</p>
      <hr>
      <p style="font-family: serif; color: rgb(71, 71, 71); font-size: 1.1rem;" class="room-para"> &emsp; Your deeply sanitised room will have all the furniture and facilities you need for a comfortable stay. You see, we believe that your chair shouldn’t multitask as a clothes rack. And your bed is not meant to be a study table.</p>
    </div>

  </div>

  <div class="container-fluid">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="image-box-carousal">
            <img src="./static/room1.jpg" class="d-block w-00" style="height: 75vh; width: 70vw;" alt="...">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <p style="font-weight: 600; font-size: 1.15rem; text-shadow:2px 2px  rgb(83, 21, 21);">Spacious rooms with abundant lightning</p>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="image-box-carousal">
            <img src="./static/room5.jpg" class="d-block " style="height: 75vh; width: 70vw;" alt="...">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <p style="font-weight: 600; font-size: 1.15rem; text-shadow:2px 2px  rgb(83, 21, 21);">Fully furnished rooms with studytable</p>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="image-box-carousal">
            <img src="./static/room3.jpg" class="d-block " style="height: 75vh; width: 70vw;" alt="...">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <p style="font-weight: 600; font-size: 1.15rem; text-shadow:2px 2px  rgb(83, 21, 21);">Mattress and spacious cupboards available</p>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: red; background-color: rgb(122, 21, 21); border-radius: 6px; padding: 20px 20px;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="color: red; background-color: rgb(122, 21, 21); border-radius: 6px; padding: 20px 20px;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>