<div class="dashboard-bullet-box">
    <div class="dashboard-name">Admin Dashboard</div>
    <a href="/aDashboard">
        <li title="Your Profile">Your Profile</li>
    </a>
    <a href="/aPending">
        <li title="Pending Applications">Pending</li>
    </a>
    <a href="/aHostel1">
        <li title="Hostel 1">Hostel 1</li>
    </a>
    <a href="/aHostel2">
        <li title="Hostel 2">Hostel 2</li>
    </a>
    <a href="/aHostel3">
        <li title="Hostel 3">Hostel 3</li>
    </a>
    <a href="/aSettings">
        <li title="Settings & Privacy">Settings</li>
    </a>
    <!-- <li>Log Out</li> -->
</div>