<!DOCTYPE html>
<html>

<head>
    <title>
        Privacy Policy | Pupils' Hub
    </title>
    <link rel="stylesheet" type="text/css" href="./privacy.css">
    <link rel="shortcut icon" href="./../static/favicon2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Roboto+Condensed:wght@300&family=Rubik:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="./home.css">
</head>

<body>

    <!-- navBar ========================================================================== -->
    <%- include('../partials/navBar') %>


        <div id="privacy" style="margin-top: 120px;">
            <div class="privacy-head">
                <div id="image">
                    <img src="./static/privacy-policy.png" alt="privacy">
                </div>
                <h1>
                    PRIVACY POLICY
                </h1>
            </div>
            <p>
                Neophyte’s management (hereinafter referred to as “<b>We</b>”, “<b>Us</b>”, or “<b>Our</b>”) is
                concerned about the privacy of the users (hereinafter referred to as “<b>You</b>”,
                “<b>Your</b>” or “<b>User</b>”) of its website (“<b>Site</b>”) located at <a
                    href="https://pupils-hub.herokuapp.com/" target="_blank">www.Pupils'Hub.com</a> and
                has provided this privacy policy statement (the “<a href="#">Privacy Policy</a>”) to
                familiarize You with: the manner in which <a href="https://pupils-hub.herokuapp.com/"
                    target="_blank">PUPILS’ HUB</a> collects, uses,
                stores, discloses and transfers Your Personal Information (as defined
                below) collected through the Site.
            </p>
            <ul style="list-style: none;">
                <li>
                    <h3>Purpose</h3>
                    <p> 1.1. PUPILS’ HUB Privacy Policy explains:</p>
                    <ol type="a">
                        <li>
                            What information is collected and why such information is collected from
                            You;
                        </li>
                        <li>
                            How such information is used and stored;
                        </li>
                        <li>
                            How such information can be accessed and updated by You;
                        </li>
                        <li>
                            Why such information is disclosed and transferred to certain third
                            parties.
                        </li>
                    </ol>
                    <p>1.2. PUPILS’ HUB has tried to keep the Privacy Policy as simple as
                        possible. We value the trust You place in Us.
                    </p>
                    <p>Please read the following statement to learn about Our Personal
                        Information gathering and dissemination practices.
                    </p>
                </li>
                <li>
                    <h3>Information We Collect</h3>
                    <p>
                        2.1. Based on You accessing and / or availing any of the services provided
                        on the Site, we may collect certain Personal Information from You.
                    </p>
                    <p>
                        2.2. The “<b>Personal Information</b>” that We collect from You includes, but is
                        not limited to, your name, account password, postal address, phone
                        number, email address, contact preferences, bank account/credit card/debit
                        card details and other information that would assist Us in verifying Your
                        identity.
                    </p>
                </li>
                <li>
                    <h3>Access to Personal Information</h3>
                    <p>
                        You are required to ensure that Your Personal Information is accurate,
                        complete and up-to-date by logging into Your Account. We shall also make
                        reasonable efforts to provide You with the opportunity to request correction
                        of Your Personal Information provided to us if the same is inaccurate; or
                        even to delete the Personal Information. Further, we may decline to
                        process requests which We find to be contrary to the terms laid down under
                        this Privacy Policy, Our Site terms and conditions or any applicable laws,
                        require disproportionate technical effort, jeopardize the privacy of others or
                        are extremely impractical.
                    </p>
                </li>
                <li>
                    <h3>Security</h3>
                    <p>
                        We work hard to protect Your Personal Information from unauthorized
                        access to or unauthorized alteration, disclosure or destruction. Pursuant to
                        the same, we encrypt our services using secure server software, which is the industry
                        standard and among the best software available today for secure
                        transactions.
                    </p>
                </li>
                <li>
                    <h3>Information We Share</h3>
                    <p>
                        5.1. PUPILS’ HUB may disclose or transfer any of Your Personal
                        Information to any group entity, contractor, service provider, government
                        agency within or outside your jurisdiction as may be deemed to be
                        necessary or appropriate including: (a) under applicable law, including laws
                        outside Your country of residence; (b) to comply with legal process; (c) to
                        Auditors (d) to respond to requests from public and government authorities
                        including public and government authorities outside Your country of
                        residence; (e) to enforce Our Terms of Use; (f) to protect Our operations or
                        those of any of Our affiliates; (g) to protect Our rights, privacy, safety or
                        property, and/or that of Our affiliates, You or others; and (h) to allow Us to
                        pursue available remedies or limit the damages that We may sustain.
                    </p>
                    <p>
                        5.2. In addition, we may disclose or transfer Your Personal Information with
                        other corporate entities and affiliates within or outside your jurisdiction to:
                    <ol type="a">
                        <li>Help detect and prevent identity theft, fraud and other potentially illegal
                            acts;</li>
                        <li>Correlate related or multiple accounts to prevent abuse of Our services
                            available on the Site; </li>
                        <li>To facilitate joint or co-branded services that You request for where
                            such services are provided by more than one corporate entity.</li>
                    </ol>
                    </p>
                    <p>
                        5.3. We may disclose or transfer Your Personal Information of Yours within
                        or outside your jurisdiction to:
                    <p>PUPILS’ HUB’s third-party providers who provide goods / services
                        such as contact information verification, payment processing, order
                        fulfilment, customer service, website hosting, data analysis, infrastructure
                        provision, IT services, auditing services and other similar services to enable
                        them to provide the relevant services.</p>
                    </p>
                    <p>
                        5.4. You acknowledge that some entities and /or countries where we may
                        transfer your Personal Information may not comply with data protection
                        policies which are as stringent as the laws of your own country or the
                        policies followed by PUPILS’ HUB. You acknowledge that it is adequate
                        that when PUPILS’ HUB transfers Your Personal Information to any other
                        entity within or outside Your country of residence, PUPILS’ HUB will place
                        contractual obligations on the transferee which will oblige the transferee to
                        adhere to the provisions of this Privacy Policy.
                    </p>
                </li>
                <li>
                    <h3>Change in Privacy Policy</h3>
                    <p>
                        PUPILS’ HUB may update this Privacy Policy at any time, with or without
                        advance notice. PUPILS’ HUB will revise the "Updated" date at the bottom
                        of this Privacy Policy, upon updating the Privacy Policy. PUPILS’ HUB
                        suggests that the User regularly check this portal to apprise themselves of
                        any updates. In the event there are significant changes in the way PUPILS’
                        HUB treats Users’ Personal Information, PUPILS’ HUB will display a notice
                        on the Site or send Users an email, as provided for above. If a User uses
                        the Services after notice of changes have been sent to such User or
                        published on the Site, such User shall be deemed to have provided
                        his/her/its consent to the changed practices.
                    </p>
                </li>
                <li>
                    <h3>Advertisements and third-party sites</h3>
                    <p>
                        7.1. Some of the advertisements You see on the Site are selected and
                        delivered by third parties, such as advertisement networks, advertising
                        agencies, advertisers, and audience segment providers. These third parties
                        may collect Personal Information from You during the course of Your online
                        activities, either on the Site or on other websites, through cookies, web
                        beacons, and other technologies in an effort to understand Your interests
                        and deliver to Your advertisements that are tailored to Your interests.
                    </p>
                    <p>
                        7.2. Please remember that the PUPILS’ HUB does not have access to, or
                        control over, the information these third parties may collect. The information
                        practices of these third parties are not covered by this Privacy Policy.
                        PUPILS’ HUB would not be liable for any loss or damage caused to You as
                        a result of such third parties collecting such Personal Information, or any
                        other types of information from You.
                    </p>
                    <p>
                        7.3. During Your interactions with Us, it may happen that We
                        provide/include links and hyperlinks of third-party websites. It may also
                        happen that you include links and hyperlinks of third-party websites. The
                        listing of such third-party external sites (by You or by Us) does not imply
                        endorsement of such site by PUPILS’ HUB. Such third-party sites are
                        governed by their own terms and conditions and when you access such
                        third-party sites, you will be governed by the terms of such third party sites.
                        We do not make any representations regarding the availability and
                        performance of any of the external sites. We are not responsible for the
                        content, terms of use, privacy policies and practices of such third-party
                        websites.
                    </p>
                </li>
                <li>
                    <h3>Questions</h3>
                    <p>
                        Questions, discrepancies or grievances regarding this Privacy Policy or in
                        relation to the collection, storage, processing, disclosure and transfer of
                        any of Your Personal Information may be directed to the mail id <a
                            href="mailto:neophyteadm@gmail.com">neophyteadm@gmail.com</a>.
                    </p>
                </li>
                <li>
                    <h3>Consent</h3>
                    <p>
                        9.1. By visiting, accessing or availing any services available on the Site,
                        you explicitly consent to, without limitation or qualification, to the collection,
                        storage, processing disclosure, use and transfer of Your Personal
                        Information provided by You in the manner as described in this Privacy
                        Policy.
                    </p>
                    <p>
                        9.2. Please read this Privacy Policy carefully as it affects your rights and
                        liabilities under law. If you do not accept the Privacy Policy stated herein or
                        disagree with the way We collect and process Personal Information
                        collected on the Site, please do not visit, access or avail any of the services
                        offered on the Site.
                    </p>
                    <p>
                        This Privacy Policy has been last updated on 28/01/2022.
                    </p>
                </li>
            </ul>
        </div>

        <!-- footer ======================================================================== -->
        <%- include('../partials/footer') %>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>


</body>

</html>