<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>409 Conflict Error</title>
    <link rel="stylesheet" href="./../warning.css">
    <link rel="shortcut icon" href="./../static/favicon2.png" type="image/x-icon">
</head>

<body>
    <h1>Oops !</h1>
    <h2>409 - Conflict Error</h2>
    <h3>Your entered email address is already in use, please enter a valid email address
    </h3>
    <form action="/login" method="GET">
        <div class="mid"> <button type="submit">Go to Login Page</button> </div>
    </form>
</body>

</html>