@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
body{
    background-color: rgba(226, 223, 223, 0.774);
}
h1{
    font-size: 10rem;
    text-align: center;
    background-image: url("static/warning.jfif");
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
h2{
    text-align: center;
    font-family: 'Galindo', cursive;
    font-weight: 100;
}
h3{
    text-align: center;
    word-spacing: .1cm;
}
p{
    text-align: center;
    word-spacing: .1cm;
    font-weight: 500;
}
button{
    /* border: 2px solid red; */
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.76);
    
}
button:hover{
    color:green;
    /* font-weight: 600; */
    background-color: rgb(206, 206, 206);
}
.mid{
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 510px){
    h1{
        margin-top: 130px;
        font-size: 6rem;
    }
    body{
        padding: 20px;
    }
}
@media (max-width: 330px){
    h1{
        margin-top: 120px;
        font-size: 4rem;
    }
    body{
        padding: 15px;
    }
}