<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<div class="dashboard-bullet-box">
    <div class="dashboard-name">Student Dashboard</div>
    <a href="/sDashboard">
        <li>Your Profile</li>
    </a>
    <a href="/sAnnouncement">
        <li>Announcements</li>
    </a>
    <a href="/sApplication">
        <li>Apply for Hostel</li>
    </a>
    <a>
        <li id="rzp-button1">Payment</li>
    </a>
    <a href="/sHelp">
        <li>Help & Support</li>
    </a>
    <a href="/sSettings">
        <li>Settings</li>
    </a>
</div>

<script>
    axios.post('/order').then((info) => 
        {
            console.log(info)

            var options = {
                // Enter the Key ID generated from the Dashboard
                "key": "rzp_test_Dc8k9akyGMSOgx",
                "name": "Pupils' Hub",
                "description": "Test Transaction",
                // "image": "./static/favicon.png",
                "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "callback_url": "/is-order-completed",
                "notes": {
                    "address": "Neophytes Warehouse"
                },
                "theme": {
                    "color": "#A93226"
                }
            };
            // giving an id of rzp-button1 to the button on clicking which the transaction would be made
            var rzp1 = new Razorpay(options);
            document.getElementById('rzp-button1').onclick = function (e) {
                rzp1.open();
                e.preventDefault();
            }
        })
</script>