<div class="dashboard-bullet-box">
    <div class="dashboard-name">Student Dashboard</div>
    <a href="/sDashboard">
        <li>Your Profile</li>
    </a>
    <a href="/sAnnouncement">
        <li>Announcements</li>
    </a>
    <a href="/sApplication">
        <li>Apply for Hostel</li>
    </a>
    <a href="/sHelp">
        <li>Help & Support</li>
    </a>
    <a href="/sSettings">
        <li>Settings</li>
    </a>
</div>